:root {
  --background-gradient: linear-gradient(178deg, #ffff33 10%, #3333ff);
  --gray: #34495e;
  --darkgray: #2c3e50;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

.main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  margin: 0;
  flex-direction: row;
}

.container-image {
  flex: 1;
  width: 50%;
  height: 90%;
  background-color: lightblue;
  background: url('/logo.png') center/100% no-repeat;
  align-items: center;
  justify-content: center;
  align-self: center;

  @media (max-width: 1000px) {
    display: none;
  }
}

.content-container {
  display: flex;
  height: 100%;
  width: 50%;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media (max-width: 1000px) {
    width: 100%;
  }
}

.form {
  width: inherit;
  display: flex;
  flex-direction: column;
}

body {
  min-height: 100vh;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
}

.form-header-title {
  text-align: center;
  font-size: 41px;
  font-weight: 600;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(
    to left,
    rgb(184, 150, 255) 210.5px,
    rgb(0, 246, 255) 309.4px,
    rgb(0, 255, 240) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.epam-logo {
  width: 100%;
  height: 40px;
  background-image: url('/epam_logo_light.svg');
  background-repeat: no-repeat;
  background-position: center;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 108px;
  height: 60px;
  color: #269af2;
  --c: radial-gradient(farthest-side, currentColor 96%, #0000);
  background:
    var(--c) 100% 100% /30% 60%,
    var(--c) 70% 0 /50% 100%,
    var(--c) 0 100% /36% 68%,
    var(--c) 27% 18% /26% 40%,
    linear-gradient(currentColor 0 0) bottom/67% 58%;
  background-repeat: no-repeat;
  position: relative;
}
.loader:after {
  content: '';
  position: absolute;
  inset: 0;
  background: inherit;
  opacity: 0.4;
  animation: l7 1s infinite;
}
@keyframes l7 {
  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

.loader-text {
  margin-top: 20px;
  color: white;
  font-size: 30px;
}

@mixin dots($count) {
  $text-shadow: ();
  @for $i from 0 through $count {
    $text-shadow:
      $text-shadow,
      (-0.5+ (random()) * 3) +
        em
        (-0.5+ (random()) * 3) +
        em
        7px
        hsla(random() * 360, 100%, 50%, 0.9);
  }
  text-shadow: $text-shadow;
}

html {
  overflow: hidden;
  background: #123;
}

body,
head {
  display: block;
  font-size: 52px;
  color: transparent;
}

head::before,
head::after,
body::before,
body::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: '.';
  mix-blend-mode: screen;
  animation: 44s -27s move infinite ease-in-out alternate;
  z-index: -1;
}

body::before {
  @include dots(40);
  animation-duration: 44s;
  animation-delay: -27s;
}

body::after {
  @include dots(40);
  animation-duration: 43s;
  animation-delay: -32s;
}

head::before {
  @include dots(40);
  animation-duration: 42s;
  animation-delay: -23s;
}

head::after {
  @include dots(40);
  animation-duration: 41s;
  animation-delay: -19s;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}

// report
.report-container {
  width: 100%;
  min-height: 98vh;
}

.main-metrics {
  display: flex;
  justify-content: space-evenly;
  padding: 0 20px;
  flex-wrap: wrap;
  flex-direction: column;
}

.metric-name {
  font-size: 30px;
}

.metric-value {
  font-size: 20px;
  padding-top: 20px;
}

.report-block-title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-left: 20px;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(
    to left,
    rgb(184, 150, 255) 80.5px,
    rgb(0, 246, 255) 2.4px,
    rgb(0, 255, 240) 40%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.report-block {
  margin-top: 20px;
}

.performance-metrics {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.performance-card {
  max-width: 80%;
  width: 300px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.performance-score {
  font-size: 30px;
  border: 5px solid;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.performance-name {
  font-size: 20px;
  padding-top: 15px;
}
