.chart {
  &__container {
    display: flex;
    margin: 0;
    justify-content: space-around;
    padding: 15px;
    overflow: hidden;
    box-sizing: border-box;
  }

  &__title {
    width: 100%;
    margin: 0px;
  }

  &__object {
    box-sizing: border-box;
  }

  &__block {
    &--single {
      flex: 1;
      margin: 0px 10px 0px 10px;
      padding: 20px;
      background: #fff;
      border-radius: 20px;
      box-shadow:
        -10px -10px 15px rgba(255, 255, 255, 0.5),
        10px 10px 15px rgba(70, 70, 70, 0.12),
        10px -10px 15px rgba(255, 255, 255, 0.5),
        -10px 10px 15px rgba(70, 70, 70, 0.12);

      hr {
        box-sizing: border-box;
      }
    }
  }
}
